body {
    font-weight: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(card.jpg);
    background-size: cover;
    background-position: fix;
}
h1{
    text-align: center;
    color: rgb(253, 255, 242);
    font-size: 50px;
    margin-top: 10px;
}
h2{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: white;
}
button{
    width: 200px;
    height: 40px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
}
#start{
    background-color: rgb(74, 165, 159);
}
#take{
    background-color: rgb(228, 114, 114);
}
#center {
    text-align: center;
    /* align-items: center; */
    /* align-self: center;
    align-content: center; */
}
#setYourBet {
    text-align: center;
    width: 250px;
    border-radius: 10px;
    height: 30px;
}
#resetYourMoney {
    text-align: center;
}